* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar li {
    display: inline-block;
    position: relative;
}


#home {
    position: relative;
    background-color: #CA6262;
    height: 100vh;
    letter-spacing: 2px;
    background-size: cover;
}

.text-home {
    position: absolute;
    padding-top: 10%;
    padding-left: 10%;
}

.navbar ul{
    padding: 10px 30px 0 0;
    margin-left: 60%;
    color: black;
    align-items: right;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    list-style: none;
}


.get2 {
    position: absolute;
    top: 62%;
    left: 15%;
}

.dot-aboutme {
    height: 80px;
    width: 80px;
    background-color: #CD2626;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 58%;
    left: 30%;
}

.dot-aboutme:hover {
    border: 2px solid rgb(19, 18, 18);
}

.profile-pic {
    height: 350px;
    width: 350px;
    position: absolute;
    top: 22%;
    right: 20%;
}

.circle-profile {
    height: 350px;
    width: 350px;
    background-color: #EE7474;
    opacity: 50%;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 24%;
    right: 21%;
}

.arrow {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 61%;
    left: 31.5%;
}

#about {
    padding-top: 6%;
    line-height: 2rem;
}

.aboutme-h1 {
    text-align: right;
    margin-right: 15%;
}

.skills {
    position: absolute;
    left: 10%;
    top: 110%;
    left: 10%;
    padding-bottom: 30%;
    text-align: left;
    line-height: 5rem;
}

.skills h2 {
    text-align: center;
}

.skills ul{
    list-style: none;
}

.skills img {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 26%;
    right: 29%;
}

.aboutme-p {
    text-align: right;
    justify-content: normal;
    margin: 0 15% 0 50%;
}

.circle-about {
    height: 65px;
    width: 65px;
    background-color: #C4C4C4;
    opacity: 80%;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: 100%;
}

hr {
    border-style: dotted none none;
    border-width: 5px;
    border-color: #EE7474);
    width: 5%;
    margin: 15% auto 7% auto;
}

#projects {
    padding: 0 10% 2% 10%;
    margin-bottom: 10%;
}

.gallery {
    border-radius: 50%;
    border: 3px solid rgba(240, 96, 96, 0.3);
    margin: 5px;
    width: 250px;
    display: inline-block;
    justify-items: center;
    justify-content: space-between;
  }
  
.gallery:hover {
    border: 3px solid #777;
}
  
.gallery img {
    border-radius: 10%;
    width: 100%;
    height: auto;
}
  
.desc {
    padding: 15px;
    text-align: center;
    letter-spacing: 1.5px;
}


#footer {
    position: relative;
    background-color: #CA6262;
    height: 45vh;
    letter-spacing: 2px;
}

#footer h2 {
    position: absolute;
    margin-left: 10%;
    padding-top: 2%;
    text-align: left;
}

.list-contact {
    position: absolute;
    margin-left: 10%;
    padding-top: 8%;
    text-align: left;
}

.list-contact li {
    list-style: none;
}

.vr-footer {
    position: absolute;
    border-left:1px solid;
    color: black;
    height:200px;
    top: 18%;
    left: 50%;
}

.social-icons{
    position: absolute;
    top: 25%;
    left: 60%;
}

.icons {
    position: absolute;
    top: 40%;
    left: 60%;
    line-height: 2rem;
}

.icons li{
    list-style: none;
}